/* app css stylesheet */


/*#map {*/
    /*height: 800px;*/
/*}*/
/*.map-canvas {*/
    /*min-width: 200px;*/
    /*min-height:500px;*/
    /*max-height:100%;*/
/*}*/
/*#map-canvas.map {*/
    /*height: 800px;*/

/*}*/

/*html, body {*/
    /*height: 100%;*/
    /*margin: 0px;*/
    /*padding: 0px*/
/*}*/
.map {
    height: 600px;
    width: 800px;
    margin: auto;
}


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


#customBtn {
    display: inline-block;
    background: #cc3732;
    color: white;
    width: 175px;
    border-radius: 5px;
}
#customBtn:hover {
    background: #e74b37;
    cursor: hand;
}
span.label {
    font-weight: bold;
}
span.icon {
    background: url('/+/images/branding/btn_red_32.png') transparent 10px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;
    padding-right: 40px;
}